#contact {
    position: relative;
    height: 630px;
    min-height: 500px;
    width: 100%;
    background: #121212;
    background-size: cover;
    -webkit-background-size: cover;
    text-align: center;
    overflow: hidden;
}

.form-group {
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    margin: 8px 0;
}

button {
    background: #121212;
    border: none;
    color: #fff;
    padding: 15px 30px;
    border-radius: 4px;
}

button:hover {
    background: #fff;
    border: none;
    color: #121212;
    padding: 15px 30px;
}